<h1 mat-dialog-title>Stop Toggle</h1>

<form
  #scollable
  id="stop-toggle"
  mat-dialog-content
  [formGroup]="form"
  (ngSubmit)="submit()"
  (keydown.escape)="close()"
  autocomplete="off"></form>

<p>TODO: Projekt/Subprojektauswahl</p>

<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="getMoreWorkResponseData()">Weiterarbeiten</button>
  <button mat-stroked-button [mat-dialog-close]="getDeleteTimerResponseData()">
    Timer löschen
  </button>
  <button mat-flat-button color="primary" type="submit" form="stop-toggle" [disabled]="!form.valid">
    Speichern
  </button>
</mat-dialog-actions>
