@use '@angular/material' as mat;
@use 'rolx-theme' as rolx-theme;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Following the official guide for theming
// see https://material.angular.io/guide/theming
@include mat.core();

.bright-theme {
  @include rolx-theme.apply-light();
}

.dark-theme {
  @include rolx-theme.apply-dark();
}

// disable all spin buttons on number inputs
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// disable all spin buttons on number inputs for firefox
input[type='number'] {
  -moz-appearance: textfield;
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;

  .mat-icon {
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
  }
  .material-icons {
    font-size: 16px !important;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
}

mat-card-actions.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

button:not(.mat-menu-item) {
  text-transform: uppercase;
}

mat-card-title {
  position: relative;

  a,
  button {
    position: relative;
    top: -4px;
  }
}

.multiline-tooltip {
  white-space: pre-line;
  max-width: unset;
}
