<!--suppress BadExpressionStatementJS -->
<div
  (keydown.enter)="down(); false"
  (keydown.arrowUp)="up(); false"
  (keydown.arrowDown)="down(); false"
  (keydown.f2)="editEntries()">
  <rolx-duration-edit
    *ngIf="!hideEdit && isSimpleEditable; else total"
    [value]="entries[0]?.duration!"
    (changed)="submitSingleEntry($event)"
    (more)="editEntries()"
    (startRecording)="voiceRecord()">
  </rolx-duration-edit>

  <ng-template #total>
    <span
      *ngIf="isActivityOpen && (!(hideEdit || isLocked) || !totalDuration.isZero); else error"
      [class.total]="!hideEdit"
      [matTooltip]="commentsText"
      matTooltipClass="multiline-tooltip">
      <button
        *ngIf="!hideEdit"
        #moreButton
        mat-icon-button
        class="small-icon-button"
        (click)="editEntries()">
        <mat-icon>more_horiz</mat-icon>
      </button>
      {{totalDuration}}
    </span>
  </ng-template>

  <ng-template #error>
    <span
      *ngIf="!isActivityOpen && !totalDuration.isZero"
      class="total"
      matTooltip="Dieser Eintrag ist ungültig. Klicke für Details">
      <button mat-icon-button class="warning">
        <mat-icon>warning</mat-icon>
      </button>
      {{totalDuration}}
    </span>
  </ng-template>
</div>
