table {
  width: 100%;
}

.number {
  width: 4em;
}

.isBillable {
  text-align: center;
  width: 5em;
}

.tools {
  text-align: right;
  width: 5em;
}

tr {
  .tools a {
    opacity: 0.1;
    transition: opacity 0.3s ease-out;
  }

  &:hover .tools a {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}

td {
  vertical-align: middle;
  max-width: 15em;
}

th.mat-column-tools {
  text-align: right;
}

td.mat-column-budgetConsumed {
  padding-right: 8px;
}

td.mat-column-budgetConsumed,
td.mat-column-plannedConsumed {
  width: 8%;
}

tr.past-end-date {
  opacity: 0.4;
}
