<table mat-table [dataSource]="dataSource" matSort matSortDisableClear class="mat-elevation-z8">
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell class="number" *matCellDef="let activity">
      {{tpd(activity).number | number:'2.0'}}
    </td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktivität</th>
    <td mat-cell *matCellDef="let activity">{{tpd(activity).name}}</td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header></td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
    <td mat-cell *matCellDef="let activity">
      {{tpd(activity).startDate.toDate() | date : 'mediumDate'}}
    </td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header></td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ende</th>
    <td mat-cell *matCellDef="let activity">
      {{tpd(activity).endDate?.toDate() | date : 'mediumDate'}}
    </td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header></td>
  </ng-container>

  <ng-container matColumnDef="budgetHours">
    <th mat-header-cell *matHeaderCellDef>Budget</th>
    <td mat-cell *matCellDef="let activity">
      <span *ngIf="!tpd(activity).budget.isZero">
        {{tpd(activity).budget.personDays| number:'1.1-1'}} PT
      </span>
    </td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header>
      <span>{{totalBudgetHours.personDays| number:'1.1-1'}} PT</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actualHours">
    <th mat-header-cell *matHeaderCellDef>Ist</th>
    <td mat-cell *matCellDef="let activity" [ngClass]="activityOverBudgetClass(tpd(activity))">
      {{tpd(activity).actual.personDays | number:'1.1-1'}} PT
    </td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header>
      <span [ngClass]="overBudgetClass(totalActualHours, totalBudgetHours)">
        {{totalActualHours.personDays| number:'1.1-1'}} PT
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="isBillable">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Verrechenbar</th>
    <td mat-cell class="isBillable" *matCellDef="let activity">
      <mat-icon *ngIf="tpd(activity).isBillable">check</mat-icon>
    </td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header></td>
  </ng-container>

  <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell class="tools" *matCellDef="let activity">
      <a mat-icon-button [routerLink]="['activity', tpd(activity).id]">
        <mat-icon>edit</mat-icon>
      </a>
    </td>
    <td mat-footer-cell *matFooterCellDef mat-footer-header></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let activity; columns: displayedColumns;"
    [routerLink]="hasWriteAccess ? ['activity', tpd(activity).id] : null"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>
