table {
  width: 100%;
}

.number {
  width: 4em;
}

.isBillable {
  text-align: center;
  width: 5em;
}

.tools {
  text-align: right;
  width: 5em;
}

tr {
  .tools a {
    opacity: 0.1;
    transition: opacity 0.3s ease-out;
  }

  &:hover .tools a {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  &.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &.mat-footer-row {
    position: sticky;
    bottom: -1px;
    z-index: 1;
  }
}

td {
  vertical-align: middle;
  max-width: 15em;
}

th.mat-column-tools {
  text-align: right;
}

td.mat-column-budgetConsumed {
  padding-right: 8px;
}

td.mat-column-budgetConsumed,
td.mat-column-plannedConsumed {
  width: 8%;
}

tr.past-end-date:not(:hover) {
  opacity: 0.4;
}

:host {
  display: block;
  overflow-y: auto;
  flex-basis: 0;
  flex-grow: 1;
}
