<mat-card *ngIf="subproject$ | async as subproject">
  <mat-card-title>
    <span class="tools">
      {{subproject.fullName}}
      <a *ngIf="mayEdit" mat-icon-button aria-label="Subprojekt editieren" [routerLink]="['edit']">
        <mat-icon>edit</mat-icon>
      </a>
    </span>

    <a
      *ngIf="mayEdit"
      mat-mini-fab
      aria-label="Aktivität hinzufügen"
      [routerLink]="['activity', 'new']"
      color="primary">
      <mat-icon>add</mat-icon>
    </a>
  </mat-card-title>

  <mat-card-subtitle> <small>Projektleiter:</small> {{subproject.managerName}} </mat-card-subtitle>

  <rolx-activity-table
    *ngIf="subproject.activities.length > 0"
    [activities]="subproject.activities"
    [totalActualHours]="subproject.actual"
    [totalBudgetHours]="subproject.budget">
  </rolx-activity-table>
</mat-card>
